body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #344966;

}
.b2 {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #b29758;
    position: fixed;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.li1 {
    padding: 15px 0px;
}

a {
    text-decoration: none;
    color: #dfdbdb;
    padding-top: 15px;
    padding-bottom: 16px!important;
    padding: 30px;
    transition: color 0.5s, background-color 0.5s;
}

a:hover {
    background-color: #5c5f7c
}
.name:hover {
    color: #404472;
  }

h3 {
    color: #c3c0c0;
}

.cv {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color:   #5c5f7c;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  p {
    color: black;
  }

  
.container {
    text-align: center;
  }
  
  .message {
    color: #c3c0c0;
    animation: moveInLeft 2s ease forwards;
  }
  
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }